@font-face {
	font-family: 'Conv_DejaVuSans';
	src: url('fonts/DejaVuSans.eot');
	src: local('☺'), url('fonts/DejaVuSans.woff') format('woff'), url('fonts/DejaVuSans.ttf') format('truetype'), url('fonts/DejaVuSans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
#container{
	position: relative;
	z-index: -40;
}
.comet{
	position: absolute;
	top: -20%;
	left: 50%;
  width: 7vw;
	animation-name:comet;
    animation-duration:2s;

    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
}

// 
/*========nav>li>a animation*/


.roll {
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 400px;
       -moz-perspective: 400px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
}
.roll span {
    display: block;
    position: relative;
    padding: 0 15px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}
    .roll:hover span {
        background: #111;
        -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
        -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }

.roll span:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    border-radius: 10%;
    left: 0;
    top: 0;
    padding: 4px 15px;
    color: #000;
    background: #ffffff;
    font-weight: bold;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

.comet_position2{
	position: absolute;
	top: -20%;
	left: 100%;
  width: 7vw;
	animation-name:comet_position2;
    animation-duration:2s;
    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
}
@keyframes comet_position2{

	100%{
      left: -20%;
      top: 100%;
	}
}

@keyframes comet{

	100%{
      left: -20%;
      top: 40%;
	}

}



.diagram{
    width: 13vw;
    position: absolute;
    height: 12.3vw;
    left: 8.5vw;
    top: 4.4vw;
    z-index: 2;
   
    .sircules{
    	       position: absolute;
    border-radius: 50px;
    width: 28%;
    z-index: 3;
    cursor: pointer;
    height: 28%;
    border: 0.4vw solid #7b2d47;
      .circule1{
      	position: absolute;
    left: 50%;
    top: 50%;
    height: 32%;
    width: 32%;
    transform: translate(-50%, -50%);
    background: #00aeef;
    border-radius: 50px;
      }
      .circule2{
      		position: absolute;
    left: 50%;
    top: 50%;
    height: 57%;
    width: 57%;
    border: 0.4vw solid #3e5e4b;
    transform: translate(-50%, -50%);
    border-radius: 50px;
      }
    }
    .progrers_sectors{
    	width: inherit;
    	height: inherit;
     overflow: hidden;
      position: relative;
      transition:0.3s;
         &.closed{
          width: 0px;
          height: 0px;
         }
    	.sector1{
    		width: 144%;
    border-radius: 50%;
    position: absolute;
    border: 2.2vw solid;
    right: 0px;
    right: -66%;
    top: -6%;
    height: 144%;
    border: 1.3vw solid #732d46db;
    border-bottom: 1.3vw solid #4b5f96e3;
    transform: translate(-50%, -50%) rotate(-90deg);
      &:after{
      	width: inherit;
      	height: inherit;
      	// content: '';
      	position: absolute;
      	transform: translate(-50%, -50%);
        border-radius: 1000px;
        border: 2.2vw solid red ; 

        border-bottom: #fff;


      }

    	}
      .sector4{
      width: 174%;
    border-radius: 50%;
    position: absolute;
    border: 2.2vw solid;
    right: 0px;
    right: -96%;
    top: -5%;
    height: 174%;
    border: 1.3vw solid #732d46db;
    border-bottom: 1.3vw solid #4b5f96e3;
    transform: translate(-50%, -50%) rotate(-90deg);
      }
      .sector2{
             width: 116%;
    height: 116%;
    right: -33%;
    top: -2px;
    transform: translate(-50%, -50%);
    border: 1.3vw solid #3e5e4b;
    border-bottom: 1.3vw solid #fcf1cd;
     

      }
      .sector3{
            width: 50%;
    height: 50%;
    border: 1px solid #fff;
    border-bottom-right-radius: 155px;
    border-top-left-radius: 5vw;
      }

    }
 
}
.diacramisskechi{
	position: absolute; 
	z-index:2;
	left: 90px;
	position: absolute; left: 90px; top: 100px;
	 top: 100px;
	  width: 17vw;
}

.subjects_nav{
	position: absolute;
	top:2vw;
	z-index: 2;
	left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Conv_DejaVuSans';
        transform: translateX(-50%);

    ul{
    	list-style-type: none;
    	padding: 0px;
    	margin:0px;
    	display: flex;
         
         li{
               position: relative;
              margin: 0 5px;
               &:before{
               	position: absolute;
                 content: '';
                 height: 2px;
                 width: 0%;
                 left: 50%;
                 background: #fff;
                 transition:0.3s;
                 transform: translateX(-50%);
                 bottom: -3px;
                 display: block;
               }
               &.active:before{
               
               	 width: 100%;
               }
               &:hover:before{
               
               	 width: 100%;
               }
         }

    	 a{
    	 	color: #fff;
    	 	text-decoration: none;
    	 	font-family: 'Conv_DejaVuSans';
    	 	    padding: 5px 1px ;
    	 	     font-size: calc(7px + 0.6vw);

    	 	 display: inline-block;


    	 }
    }

    .school_or_mine{
    	margin-top: 2vw;


    	 a{
    	 	color: #fff;
    	 font-size: calc(5px + 0.6vw);
    	 	text-decoration: none;
    	 	padding: 3px 8px 4px;
    	 	border:1px solid transparent;
    	 	transition:0.3s;
    	 	border-radius: 50px;
    	 	margin: 0 6px;

    	 	&.active{
            background: #7b2d47;
            border:1px solid #fff;
    	 	}

    	 	&:hover{
    	 		background: #7b2d47;
            border:1px solid #fff;
    	 	}
    	 }
    }
}


.steps_perent{
	position: relative;
	 div{
	 	cursor: pointer;
	 	transition:0.3s;
     &.active{
          display: inline-block;
    width: 40vw;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 2;
    position: absolute;
     .point_boll{
           width: 7.5vw;
           &.disabled{
            pointer-events: none;
        cursor: default;
           }
     }
   
     }
	 	&:hover{
	          
	 		   filter:hue-rotate(20deg);
           img{
                  filter:hue-rotate(0deg)
           
	 		  
	 	}
	 }
           }
}
.steps_perent div a{
  transition:0.3s;
}

.steps_perent div a:hover  {
      
    transform: translateY(-5px);
}


.planet_with_child.planet2{
  top: 73vh;
  left: 47vw;
  width: 8vw;
  animation-name:planet_with_child2;
  animation-duration:140s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
}



@keyframes planet_with_child2{

  0%{
           transform: translate(0px);
  }
  25%{
    transform: translate(-400px, 180px);
  }
  
  50%{
     transform: translate(400px, -60px);
  }
  75%{
    transform: translate(-400px, 180px);
  }
  100%{
        transform: translate(0px);
  }

}

.planet_with_child{
  position: absolute;
  top: 10vw;
  width: 11vw;
 left: 15vw;
 animation-name:planet_with_child;
    animation-duration:120s;
        animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
   .big_planet{
    position:  relative;
    max-width: 100%
   }
   .small_planet{
	 position: absolute;
    left: 0px;
    width: 34%;
    top: 50%;
    transform: translate(-50%, -50%);
   }

}
.small_planet{
     animation-name:small_planet;
    animation-duration:10s;
        animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
}


@keyframes planet_with_child{

	0%{
           transform: translate(0px);
	}
	25%{
		transform: translate(-200px, 80px);
	}
	
	50%{
		 transform: translate(400px, -60px);
	}
	75%{
		transform: translate(-200px, -80px);
	}
	100%{
        transform: translate(0px);
	}

}

.planet_with_child3{
   top: 73vh;
  left: 77vw;
  width: 9vw;
  animation-name:planet_with_child3;
  animation-duration:100s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
}


@keyframes planet_with_child3{

  0%{
           transform: translate(0px);
  }
  25%{
    transform: translate(-300px, -180px);
  }
  
  50%{
     transform: translate(100px, 60px);
  }
  75%{
     transform: translate(-300px, -180px);
  }
  100%{
        transform: translate(0px);
  }

}

.planet4{

}


@keyframes small_planet{

  0%{
         left:-20%;
          z-index: 0;
          top: 20%;
  }
  25%{
       
        z-index: 0;
  }
  
  50%{
     left:120%;
          z-index: -1;
          top: 80%
  }
  75%{
    
       z-index: -1;
  }
  100%{
         left:-20%;
          z-index: 0;
          top: 20%;
  }

}
.mth{
	font-family: 'Conv_DejaVuSans';
	    background: url(images/bgmth.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    background-position: top;


    .planet3{
    position: absolute;
    left: 30vw;
    width: 6vw;
    top: 15vw;
    animation-name:planet_3;
    animation-duration:100s;
        animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.07, -0.19, 1, 1);
    }
@keyframes planet_3{

	0%{
           transform: translate(0px);
	}
	25%{
		transform: translate(200px, 80px);
	}
	
	50%{
		 transform: translate(400px, 60px);
	}
	75%{
		transform: translate(-200px, -80px);
	}
	100%{
        transform: translate(0px);
	}

}

    //     background: url(images/bgmth.png);
    // background: url(images/loopall.png);
    // background-repeat: no-repeat;
    // height: 100vh;
    // background-size: 91%, 94%;
    // background-position: center -25px;


    .ship{
    position: absolute;
    width: 3vw;
    left: 9vw;
    top: 30vw;
    display: inline-block;
    	img{
    		width: 100%;
    	}
    }
    .point_boll{
    	 position: absolute;
    width: 2.5vw;
     display: inline-block;
             &.disabled{
            pointer-events: none;
        cursor: default;
           }
       img{
       	width: 100%;
       }
    }
    .checkpoints1{
    	   
       left: 23%;
    top: 26%;
   
    }
      .checkpoints2{
    	   
 left: 34%;
    top: 15%;
   
    }
      .checkpoints3{
    	   
        left: 45%;
    top: 4%;
   
    }
      .checkpoints4{
   left: 57%;
    top: 9%;
    }
     .checkpoints5{
   left: 68%;
    top: 21%;
    }
  .checkpoints6{
  left: 79%;
    top: 33%;
    }

.checkpoints7{
 left: 9%;
    top: 17%;
    }
    .checkpoints8{
      left: 24%;
    top: 29%;
    }
    .checkpoints9{
 left: 41%;
    top: 22%;
    }
    .checkpoints10{
       left: 56%;
    top: 10%;
    }
     .checkpoints11{
   left: 71%;
    top: -3%;
    }
    .checkpoints12{
  left: 8%;
    top: 12%;
    }
    .checkpoints13{
       left: 22%;
    top: 1%;
    }
    .checkpoints14{
   left: 37%;
    top: 10%;
    }
    .checkpoints15{
   left: 50%;
    top: 21%;
    }
    .checkpoints16{
         left: 63%;
    top: 32%;
    }
    .checkpoints17{
       left: 77%;
    top: 44%;
    }
     .checkpoints18{
     left: 11%;
    top: 0%;
    }
     .checkpoints19{
        left: 29%;
    top: 11%;
    }
     .checkpoints20{
        left: 48%;
    top: 24%;
    }
     .checkpoints21{
          left: 67%;
    top: 37%;
    }
     .checkpoints22{
   left: 75%;
    top: 58%;
    }
     .checkpoints23{
    left: 58%;
    top: 49%;
    }
     .checkpoints24{
        left: 41%;
    top: 40%;
    }
    .checkpoints24{
  left: 42%;
    top: 40%;
    }
    .checkpoints25{
    left: 26%;
    top: 32%;
    }
    .checkpoints26{
      left: 10%;
    top: 23%;
    }
    .checkpoints27{
          left: 30%;
    top: 11%;
    }
    .checkpoints28{
     left: 47%;
    top: 1%;
    }

     .checkpoints29{
     left: 11%;
    top: 0%;
    }
     .checkpoints30{
        left: 29%;
    top: 11%;
    }
     .checkpoints31{
        left: 48%;
    top: 24%;
    }
     .checkpoints32{
          left: 67%;
    top: 37%;

}
    

 
    .checkpoints33{
         left: 16%;
    top: 19%;
    }
    .checkpoints34{
        left: 47%;
    top: 32%;
    }
    .checkpoints35{
         left: 15%;
    top: 34%;
    }
    .checkpoints36{
     left: 46%;
    top: 16%;

    }
    .checkpoints37{
     left: 15%;
    top: 1%;
    }


     .checkpoints38{

     	   left: 67%;
    top: 37%;
    
    }
     .checkpoints39{
       
    left: 48%;
    top: 24%;
    }
     .checkpoints40{
     left: 29%;
    top: 11%;
    }
     .checkpoints41{
           left: 11%;
    top: 0%;

}
  .checkpoints42{
      left: 18%;
    top: 49%;

}
  .checkpoints43{
      left: 6%;
    top: 37%;

}
  .checkpoints44{
       left: 16%;
    top: 27%;

}
  .checkpoints45{
      left: 26%;
    top: 17%;

}
  .checkpoints46{
       left: 37%;
    top: 6%;

}
  .checkpoints47{
    left: 51%;
    top: 8%;

}
  .checkpoints48{
    left: 62%;
    top: 19%;

}
  .checkpoints49{
        left: 73%;
    top: 30%;

}
  .checkpoints50{
     left: 84%;
    top: 41%;

}









	     .step1{
		
	     display: inline-block;
    width: 18vw;
    left: 8.4vw;
    top: 30.4vw;
    position: absolute;
	}

		.step_bg{
		max-width: 100%;
	}

	.step2{
		
	      display: inline-block;
    width: 12.5vw;
    left: 26vw;
    top: 34.8vw;
    position: absolute;
	}
	.step3{
		 display: inline-block;
    width: 10vw;
    left: 23.7vw;
    top: 27.6vw;
    position: absolute;
	}
	.step4{    display: inline-block;
   display: inline-block;
    width: 14.9vw;
    left: 23.7vw;
    top: 21.9vw;
    position: absolute;
	}
	.step5{
		     display: inline-block;
    width: 10.1vw;
    left: 38.5vw;
    top: 29.2vw;
    position: absolute;
	}
	.step6{
	display: inline-block;
    width: 10vw;
    left: 46vw;
    top: 26.2vw;
    position: absolute;
	}
	.step7{
	display: inline-block;
    width: 12.4vw;
    left: 36.28vw;
    top: 16.2vw;
    position: absolute;
	}
	.step8{
	    display: inline-block;
    width: 10.1vw;
    left: 46.4vw;
    top: 18.9vw;
    position: absolute;
	}
	.step9{
	display: inline-block;
    width: 7.6vw;
    left: 56.47vw;
    top: 23.2vw;
    position: absolute;
	}
	.step10{
	    display: inline-block;
    width: 10vw;
    left: 63.9vw;
    top: 27.6vw;
    position: absolute;
	}

	.step11{
	display: inline-block;
    width: 7.6vw;
    left: 73.29vw;
    top: 23.3vw;
    position: absolute;
	}
	.step12{
		     display: inline-block;
    width: 10.1vw;
    left: 63.4vw;
    top: 17.5vw;
    position: absolute;
	}
	.step13{
		display: inline-block;
    width: 19.5vw;
    left: 56.1vw;
    top: 9.2vw;
    position: absolute;
	}

		.step14{
	display: inline-block;
    width: 10vw;
    left: 75.9vw;
    top: 14.7vw;
    position: absolute;
	}

}

.qart{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(#AAE8FF, #004E6A);

   .subjects_nav ul a{
     color:#000;
   }
   .subjects_nav ul li:before{
    background: #000;
   }
   .subjects_nav .school_or_mine a{
           color: #000;
   }
   .subjects_nav .school_or_mine a.active, 
   .subjects_nav .school_or_mine a:hover{
    background: #74A589;
    border: 1px solid #000;

   }
   .steps_perent_qart{
   position: absolute;
    width: 70%;
    height: 92%;
    background-position: center;
    background-size: 100%;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    background-repeat: no-repeat;
   }
   .checkpoint_qart{
    transition:0.3s;
   }
   .checkpoint_qart:hover{
    transform: translateY(-5px) scale(1.1, 1.1);
   }
   .checkpoint_qart1{
     left: 39vw;
    top: 32.3vw;
   }
   .checkpoint_qart2{
    left: 42vw;
    top: 30.3vw;
   }
   .checkpoint_qart3{
    left: 45vw;
    top: 29.3vw;
   }
   .checkpoint_qart4{
    left: 48vw;
    top: 28.3vw;
   }
   .checkpoint_qart5{
   left: 51vw;
    top: 26.8vw;
   }
   .checkpoint_qart6{
   left: 53.8vw;
    top: 25.9vw;
   }
   .checkpoint_qart7{
        left: 57.3vw;
    top: 24.5vw;
   }
   .checkpoint_qart8{
    left: 60.2vw;
    top: 23.7vw;
   }
   .checkpoint_qart9{
    left: 60vw;
    top: 18.3vw;
   }
    .checkpoint_qart10{
    left: 57.4vw;
    top: 17.5vw;
   }
    .checkpoint_qart11{
    left: 54.7vw;
    top: 16.8vw;
   }
    .checkpoint_qart12{
   left: 52vw;
    top: 16vw;
   }
    .checkpoint_qart13{
   left: 49.3vw;
    top: 16.6vw;
   }
    .checkpoint_qart14{
   left: 46.7vw;
    top: 17.3vw;
   }
    .checkpoint_qart15{
    left: 44vw;
    top: 18.1vw;
   }
    .checkpoint_qart16{
    left: 41vw;
    top: 19vw;
   }
    .checkpoint_qart17{
    left: 37vw;
    top: 19.8vw;
   }
    .checkpoint_qart18{
    left: 33.9vw;
    top: 20.7vw;
   }
    .checkpoint_qart19{
   left: 29vw;
    top: 21.2vw;
   }
    .checkpoint_qart20{
   left: 23vw;
    top: 22.3vw;
   }
   .checkpoint_qart21{
   left: 11vw;
    top: 24vw;
   }
   .checkpoint_qart22{
      left: 8vw;
    top: 23.2vw;
   }
   .checkpoint_qart23{
       left: 5vw;
    top: 22.1vw;
   }
   .checkpoint_qart24{
   left: 36vw;
    top: 33.1vw;
   }
   .checkpoint_qart25{
    left: 9vw;
    top: 20.9vw;
   }
   .checkpoint_qart26{
    left: 12.5vw;
    top: 20vw;
   }
   .checkpoint_qart27{
     left: 22vw;
    top: 17.3vw;
   }
   .checkpoint_qart28{
    left: 25vw;
    top: 16.3vw;
   }
   .checkpoint_qart29{
  left: 28vw;
    top: 15.3vw;

   }
   .checkpoint_qart30{
   left: 30vw;
    top: 13.3vw;
   }
   .checkpoint_qart31{
 left: 33vw;
    top: 12.3vw;
   }
   .checkpoint_qart32{
  left: 36vw;
    top: 11.4vw;
   }
   .checkpoint_qart33{
   left: 38.9vw;
    top: 10.5vw;
   }
   .checkpoint_qart34{
   left: 41.8vw;
    top: 9.6vw;
   }
   .checkpoint_qart35{
   left: 45vw;
    top: 10.3vw;
   }
   .checkpoint_qart36{
      left: 53vw;
    top: 10.1vw;
   }
   .checkpoint_qart37{
       left: 55.6vw;
    top: 9.3vw;
   }
   .checkpoint_qart38{
 left: 58vw;
    top: 8.5vw;
   }
   .checkpoint_qart39{
       left: 54vw;
    top: 7.4vw;
   }
   .checkpoint_qart40{
    left: 45.5vw;
    top: 5vw;
   }
    .checkpoint_qart41{
    left: 45.5vw;
    top: 5vw;
   }
    .checkpoint_qart42{
    left: 42.5vw;
    top: 4.2vw;
 }
    .checkpoint_qart43{
    left: 36.5vw;
    top: 6vw;
   }
    .checkpoint_qart44{
    left: 33.5vw;
    top: 6.7vw;
   }
    .checkpoint_qart45{
   left: 30.5vw;
    top: 7.2vw;
   }
    .checkpoint_qart46{
   left: 27.5vw;
    top: 8vw;
   }
    .checkpoint_qart47{
        left: 24vw;
    top: 8.3vw
   }
    .checkpoint_qart48{
     left: 20.9vw;
    top: 8.6vw;
   }
    .checkpoint_qart49{
         left: 18.2vw;
    top: 9.2vw;
   }
    .checkpoint_qart50{
        left: 15.5vw;
    top: 10vw;
   }
   .kingball{
       position: absolute;
    left: 30vw;
    top: 34vw;
     width: 1.8vw;
    img{
      width: 100%;
    }
   }

   .checkpoint_qart{
    position: absolute;
    width: 3%;
    display: inline-block;
   
    img{
      width: 100%;

    }
   }
   .claud1{
        position: absolute;
    top: -4vw;
    z-index: -1;
    width: 31vw;
        animation-name: claud1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
   }
   @keyframes claud1{
           0%{
    transform: translate(0, 0px);
           }
           25%{
    transform: translate(5px, 5px);
           }
           50%{
transform: translate(10px, -5px);

           }
           75%{
transform: translate(5px, -5px);
           }
           100%{
 transform: translate(0, 0px);
           }
   }
    .claud2{
          position: absolute;
    top: 13vw;
    left: 61vw;
    z-index: 1;
    width: 21vw;
     animation-name: claud2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
   }
     @keyframes claud2{
           0%{
    transform: translate(0, 0px);
           }
           25%{
    transform: translate(5px, 5px);
           }
           50%{
transform: translate(10px, -5px);

           }
           75%{
transform: translate(5px, -5px);
           }
           100%{
 transform: translate(0, 0px);
           }
   }
    .claud3{
         position: absolute;
    top: 13vw;
    left: 55vw;
    z-index: -1;
    width: 10vw;
     animation-name: claud3;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
   }
       @keyframes claud3{
           0%{
    transform: translate(0, 0px);
           }
           25%{
    transform: translate(-5px, 5px);
           }
           50%{
transform: translate(10px, -5px);

           }
           75%{
transform: translate(-5px, -5px);
           }
           100%{
 transform: translate(0, 0px);
           }
   }
   .claud4{
            position: absolute;
    top: -1vw;
    left: 40vw;
    z-index: -1;
    width: 20vw;
    animation-name: claud4;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
   }
     @keyframes claud4{
           0%{
    transform: translate(0, 0px);
           }
           25%{
    transform: translate(-5px, 5px);
           }
           50%{
transform: translate(10px, -5px);

           }
           75%{
transform: translate(-5px, -5px);
           }
           100%{
 transform: translate(0, 0px);
           }
   }
   .claud5{
    position: absolute;
    top: 11vw;
    left: 2vw;
    z-index: 0;
    width: 17vw;
    animation-name: claud5;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
   }
    @keyframes claud5{
           0%{
    transform: translate(0, 0px);
           }
           25%{
    transform: translate(5px, 5px);
           }
           50%{
transform: translate(10px, -5px);
           }
           75%{
transform: translate(5px, -5px);
           }
           100%{
 transform: translate(0, 0px);
           }
   }
}
.steps_perent_qart{
    .bbg{
      width: 70vw;
    }
}


.mtholimpiad{
  .steps_perent{
    a:hover{
     filter: hue-rotate(30deg);
    }
  }
  position: absolute;
    width: 101%;
    height: 100%;
    background: url(images/olimpiadmthbg.png);
    background-size: cover;
    background-position: center;
    left: -1px;
    top: 0px;

    .step0{
     width: 15vw;
    display: inline-block;
    position: absolute;
    top: 24vw;
    left: 9vw;
    img{
      max-width: 100%;
    }
    }
    .step1{
      width: 15vw;
    display: inline-block;
    position: absolute;
    top: 28vw;
    left: 28vw;
      img{
      max-width: 100%;
    }
    }
    .step2{
      width: 15vw;
    display: inline-block;
    position: absolute;
    top: 16vw;
    left: 36vw;

      img{
      max-width: 100%;
    }
    }
     .step3{
           width: 15vw;
    display: inline-block;
    position: absolute;
    top: 21vw;
    left: 54vw;
      img{
      max-width: 100%;
    }
    }
     .step4{
         width: 15vw;
    display: inline-block;
    position: absolute;
    top: 25vw;
    left: 73vw;
      img{
      max-width: 100%;
    }
    }
}
.planet3 {
    position: absolute;
    left: 30vw;
    width: 6vw;
    top: 15vw;
    animation-name: planet_3;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.07, -0.19, 1, 1); }
@keyframes planet_3 {
  0% {
    transform: translate(0px); }
  25% {
    transform: translate(200px, 80px); }
  50% {
    transform: translate(400px, 60px); }
  75% {
    transform: translate(-200px, -80px); }
  100% {
    transform: translate(0px); } }

.planet_with_child{
  position: absolute;
  top: 10vw;
  width: 11vw;
 left: 15vw;
 animation-name:planet_with_child;
    animation-duration:120s;
        animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
  }
 @keyframes planet_with_child{

  0%{
           transform: translate(0px);
  }
  25%{
    transform: translate(-200px, 80px);
  }
  
  50%{
     transform: translate(400px, -60px);
  }
  75%{
    transform: translate(-200px, -80px);
  }
  100%{
        transform: translate(0px);
  }

} 

.planet_with_child.planet2{
  top: 73vh;
  left: 47vw;
  width: 8vw;
  animation-name:planet_with_child2;
  animation-duration:140s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
}



@keyframes planet_with_child2{

  0%{
           transform: translate(0px);
  }
  25%{
    transform: translate(-400px, 180px);
  }
  
  50%{
     transform: translate(400px, -60px);
  }
  75%{
    transform: translate(-400px, 180px);
  }
  100%{
        transform: translate(0px);
  }

}

@media only screen and (max-width: 950px) {

.steps_perent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 11vw;
}
.diagram .progrers_sectors .sector3{
  border-top-left-radius: 9vw;
}
.diagram{
  top: 12vw;
}
}

@media only screen and (max-width: 600px) {


.mth{
  position: relative;
}

   .diagram {
    top: 20vw;
}
.steps_perent {
    top: 26vw;
}
.subjects_nav ul a{
        padding: 5px 0px;
  }

  .planet_with_child3 {
    top: 50vh;

  }
  .mth .point_boll {
    transform: translateY(-4px);
  }
  .diagram .progrers_sectors .sector3 {
    border-top-left-radius: 12vw;
}
}
