@charset "UTF-8";
@font-face {
  font-family: 'Conv_DejaVuSans';
  src: url("fonts/DejaVuSans.eot");
  src: local("☺"), url("fonts/DejaVuSans.woff") format("woff"), url("fonts/DejaVuSans.ttf") format("truetype"), url("fonts/DejaVuSans.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
#container {
  position: relative;
  z-index: -40; }

.comet {
  position: absolute;
  top: -20%;
  left: 50%;
  width: 7vw;
  -webkit-animation-name: comet;
          animation-name: comet;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
          animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }

/*========nav>li>a animation*/
.roll {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%; }

.roll span {
  display: block;
  position: relative;
  padding: 0 15px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d; }

.roll:hover span {
  background: #111;
  -webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg); }

.roll span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  border-radius: 10%;
  left: 0;
  top: 0;
  padding: 4px 15px;
  color: #000;
  background: #ffffff;
  font-weight: bold;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg); }

.comet_position2 {
  position: absolute;
  top: -20%;
  left: 100%;
  width: 7vw;
  -webkit-animation-name: comet_position2;
          animation-name: comet_position2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
          animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }

@-webkit-keyframes comet_position2 {
  100% {
    left: -20%;
    top: 100%; } }

@keyframes comet_position2 {
  100% {
    left: -20%;
    top: 100%; } }
@-webkit-keyframes comet {
  100% {
    left: -20%;
    top: 40%; } }
@keyframes comet {
  100% {
    left: -20%;
    top: 40%; } }
.diagram {
  width: 13vw;
  position: absolute;
  height: 12.3vw;
  left: 8.5vw;
  top: 4.4vw;
  z-index: 2; }
  .diagram .sircules {
    position: absolute;
    border-radius: 50px;
    width: 28%;
    z-index: 3;
    cursor: pointer;
    height: 28%;
    border: 0.4vw solid #7b2d47; }
    .diagram .sircules .circule1 {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 32%;
      width: 32%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: #00aeef;
      border-radius: 50px; }
    .diagram .sircules .circule2 {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 57%;
      width: 57%;
      border: 0.4vw solid #3e5e4b;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 50px; }
  .diagram .progrers_sectors {
    width: inherit;
    height: inherit;
    overflow: hidden;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .diagram .progrers_sectors.closed {
      width: 0px;
      height: 0px; }
    .diagram .progrers_sectors .sector1 {
      width: 144%;
      border-radius: 50%;
      position: absolute;
      border: 2.2vw solid;
      right: 0px;
      right: -66%;
      top: -6%;
      height: 144%;
      border: 1.3vw solid #732d46db;
      border-bottom: 1.3vw solid #4b5f96e3;
      -webkit-transform: translate(-50%, -50%) rotate(-90deg);
              transform: translate(-50%, -50%) rotate(-90deg); }
      .diagram .progrers_sectors .sector1:after {
        width: inherit;
        height: inherit;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 1000px;
        border: 2.2vw solid red;
        border-bottom: #fff; }
    .diagram .progrers_sectors .sector4 {
      width: 174%;
      border-radius: 50%;
      position: absolute;
      border: 2.2vw solid;
      right: 0px;
      right: -96%;
      top: -5%;
      height: 174%;
      border: 1.3vw solid #732d46db;
      border-bottom: 1.3vw solid #4b5f96e3;
      -webkit-transform: translate(-50%, -50%) rotate(-90deg);
              transform: translate(-50%, -50%) rotate(-90deg); }
    .diagram .progrers_sectors .sector2 {
      width: 116%;
      height: 116%;
      right: -33%;
      top: -2px;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border: 1.3vw solid #3e5e4b;
      border-bottom: 1.3vw solid #fcf1cd; }
    .diagram .progrers_sectors .sector3 {
      width: 50%;
      height: 50%;
      border: 1px solid #fff;
      border-bottom-right-radius: 155px;
      border-top-left-radius: 5vw; }

.diacramisskechi {
  position: absolute;
  z-index: 2;
  left: 90px;
  position: absolute;
  left: 90px;
  top: 100px;
  top: 100px;
  width: 17vw; }

.subjects_nav {
  position: absolute;
  top: 2vw;
  z-index: 2;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Conv_DejaVuSans';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .subjects_nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .subjects_nav ul li {
      position: relative;
      margin: 0 5px; }
      .subjects_nav ul li:before {
        position: absolute;
        content: '';
        height: 2px;
        width: 0%;
        left: 50%;
        background: #fff;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: -3px;
        display: block; }
      .subjects_nav ul li.active:before {
        width: 100%; }
      .subjects_nav ul li:hover:before {
        width: 100%; }
    .subjects_nav ul a {
      color: #fff;
      text-decoration: none;
      font-family: 'Conv_DejaVuSans';
      padding: 5px 1px;
      font-size: calc(7px + 0.6vw);
      display: inline-block; }
  .subjects_nav .school_or_mine {
    margin-top: 2vw; }
    .subjects_nav .school_or_mine a {
      color: #fff;
      font-size: calc(5px + 0.6vw);
      text-decoration: none;
      padding: 3px 8px 4px;
      border: 1px solid transparent;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      border-radius: 50px;
      margin: 0 6px; }
      .subjects_nav .school_or_mine a.active {
        background: #7b2d47;
        border: 1px solid #fff; }
      .subjects_nav .school_or_mine a:hover {
        background: #7b2d47;
        border: 1px solid #fff; }

.steps_perent {
  position: relative; }
  .steps_perent div {
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .steps_perent div.active {
      display: inline-block;
      width: 40vw;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
      z-index: 2;
      position: absolute; }
      .steps_perent div.active .point_boll {
        width: 7.5vw; }
        .steps_perent div.active .point_boll.disabled {
          pointer-events: none;
          cursor: default; }
    .steps_perent div:hover {
      -webkit-filter: hue-rotate(20deg);
              filter: hue-rotate(20deg); }
      .steps_perent div:hover img {
        -webkit-filter: hue-rotate(0deg);
                filter: hue-rotate(0deg); }

.steps_perent div a {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.steps_perent div a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px); }

.planet_with_child.planet2 {
  top: 73vh;
  left: 47vw;
  width: 8vw;
  -webkit-animation-name: planet_with_child2;
          animation-name: planet_with_child2;
  -webkit-animation-duration: 140s;
          animation-duration: 140s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
          animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }

@-webkit-keyframes planet_with_child2 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(-400px, 180px);
            transform: translate(-400px, 180px); }
  50% {
    -webkit-transform: translate(400px, -60px);
            transform: translate(400px, -60px); }
  75% {
    -webkit-transform: translate(-400px, 180px);
            transform: translate(-400px, 180px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }

@keyframes planet_with_child2 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(-400px, 180px);
            transform: translate(-400px, 180px); }
  50% {
    -webkit-transform: translate(400px, -60px);
            transform: translate(400px, -60px); }
  75% {
    -webkit-transform: translate(-400px, 180px);
            transform: translate(-400px, 180px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }
.planet_with_child {
  position: absolute;
  top: 10vw;
  width: 11vw;
  left: 15vw;
  -webkit-animation-name: planet_with_child;
          animation-name: planet_with_child;
  -webkit-animation-duration: 120s;
          animation-duration: 120s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
          animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }
  .planet_with_child .big_planet {
    position: relative;
    max-width: 100%; }
  .planet_with_child .small_planet {
    position: absolute;
    left: 0px;
    width: 34%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.small_planet {
  -webkit-animation-name: small_planet;
          animation-name: small_planet;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
          animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }

@-webkit-keyframes planet_with_child {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(-200px, 80px);
            transform: translate(-200px, 80px); }
  50% {
    -webkit-transform: translate(400px, -60px);
            transform: translate(400px, -60px); }
  75% {
    -webkit-transform: translate(-200px, -80px);
            transform: translate(-200px, -80px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }

@keyframes planet_with_child {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(-200px, 80px);
            transform: translate(-200px, 80px); }
  50% {
    -webkit-transform: translate(400px, -60px);
            transform: translate(400px, -60px); }
  75% {
    -webkit-transform: translate(-200px, -80px);
            transform: translate(-200px, -80px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }
.planet_with_child3 {
  top: 73vh;
  left: 77vw;
  width: 9vw;
  -webkit-animation-name: planet_with_child3;
          animation-name: planet_with_child3;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
          animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }

@-webkit-keyframes planet_with_child3 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(-300px, -180px);
            transform: translate(-300px, -180px); }
  50% {
    -webkit-transform: translate(100px, 60px);
            transform: translate(100px, 60px); }
  75% {
    -webkit-transform: translate(-300px, -180px);
            transform: translate(-300px, -180px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }

@keyframes planet_with_child3 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(-300px, -180px);
            transform: translate(-300px, -180px); }
  50% {
    -webkit-transform: translate(100px, 60px);
            transform: translate(100px, 60px); }
  75% {
    -webkit-transform: translate(-300px, -180px);
            transform: translate(-300px, -180px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }
@-webkit-keyframes small_planet {
  0% {
    left: -20%;
    z-index: 0;
    top: 20%; }
  25% {
    z-index: 0; }
  50% {
    left: 120%;
    z-index: -1;
    top: 80%; }
  75% {
    z-index: -1; }
  100% {
    left: -20%;
    z-index: 0;
    top: 20%; } }
@keyframes small_planet {
  0% {
    left: -20%;
    z-index: 0;
    top: 20%; }
  25% {
    z-index: 0; }
  50% {
    left: 120%;
    z-index: -1;
    top: 80%; }
  75% {
    z-index: -1; }
  100% {
    left: -20%;
    z-index: 0;
    top: 20%; } }
.mth {
  font-family: 'Conv_DejaVuSans';
  background: url(images/bgmth.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
  background-position: top; }
  .mth .planet3 {
    position: absolute;
    left: 30vw;
    width: 6vw;
    top: 15vw;
    -webkit-animation-name: planet_3;
            animation-name: planet_3;
    -webkit-animation-duration: 100s;
            animation-duration: 100s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.07, -0.19, 1, 1);
            animation-timing-function: cubic-bezier(0.07, -0.19, 1, 1); }
@-webkit-keyframes planet_3 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(200px, 80px);
            transform: translate(200px, 80px); }
  50% {
    -webkit-transform: translate(400px, 60px);
            transform: translate(400px, 60px); }
  75% {
    -webkit-transform: translate(-200px, -80px);
            transform: translate(-200px, -80px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }
@keyframes planet_3 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(200px, 80px);
            transform: translate(200px, 80px); }
  50% {
    -webkit-transform: translate(400px, 60px);
            transform: translate(400px, 60px); }
  75% {
    -webkit-transform: translate(-200px, -80px);
            transform: translate(-200px, -80px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }
  .mth .ship {
    position: absolute;
    width: 3vw;
    left: 9vw;
    top: 30vw;
    display: inline-block; }
    .mth .ship img {
      width: 100%; }
  .mth .point_boll {
    position: absolute;
    width: 2.5vw;
    display: inline-block; }
    .mth .point_boll.disabled {
      pointer-events: none;
      cursor: default; }
    .mth .point_boll img {
      width: 100%; }
  .mth .checkpoints1 {
    left: 23%;
    top: 26%; }
  .mth .checkpoints2 {
    left: 34%;
    top: 15%; }
  .mth .checkpoints3 {
    left: 45%;
    top: 4%; }
  .mth .checkpoints4 {
    left: 57%;
    top: 9%; }
  .mth .checkpoints5 {
    left: 68%;
    top: 21%; }
  .mth .checkpoints6 {
    left: 79%;
    top: 33%; }
  .mth .checkpoints7 {
    left: 9%;
    top: 17%; }
  .mth .checkpoints8 {
    left: 24%;
    top: 29%; }
  .mth .checkpoints9 {
    left: 41%;
    top: 22%; }
  .mth .checkpoints10 {
    left: 56%;
    top: 10%; }
  .mth .checkpoints11 {
    left: 71%;
    top: -3%; }
  .mth .checkpoints12 {
    left: 8%;
    top: 12%; }
  .mth .checkpoints13 {
    left: 22%;
    top: 1%; }
  .mth .checkpoints14 {
    left: 37%;
    top: 10%; }
  .mth .checkpoints15 {
    left: 50%;
    top: 21%; }
  .mth .checkpoints16 {
    left: 63%;
    top: 32%; }
  .mth .checkpoints17 {
    left: 77%;
    top: 44%; }
  .mth .checkpoints18 {
    left: 11%;
    top: 0%; }
  .mth .checkpoints19 {
    left: 29%;
    top: 11%; }
  .mth .checkpoints20 {
    left: 48%;
    top: 24%; }
  .mth .checkpoints21 {
    left: 67%;
    top: 37%; }
  .mth .checkpoints22 {
    left: 75%;
    top: 58%; }
  .mth .checkpoints23 {
    left: 58%;
    top: 49%; }
  .mth .checkpoints24 {
    left: 41%;
    top: 40%; }
  .mth .checkpoints24 {
    left: 42%;
    top: 40%; }
  .mth .checkpoints25 {
    left: 26%;
    top: 32%; }
  .mth .checkpoints26 {
    left: 10%;
    top: 23%; }
  .mth .checkpoints27 {
    left: 30%;
    top: 11%; }
  .mth .checkpoints28 {
    left: 47%;
    top: 1%; }
  .mth .checkpoints29 {
    left: 11%;
    top: 0%; }
  .mth .checkpoints30 {
    left: 29%;
    top: 11%; }
  .mth .checkpoints31 {
    left: 48%;
    top: 24%; }
  .mth .checkpoints32 {
    left: 67%;
    top: 37%; }
  .mth .checkpoints33 {
    left: 16%;
    top: 19%; }
  .mth .checkpoints34 {
    left: 47%;
    top: 32%; }
  .mth .checkpoints35 {
    left: 15%;
    top: 34%; }
  .mth .checkpoints36 {
    left: 46%;
    top: 16%; }
  .mth .checkpoints37 {
    left: 15%;
    top: 1%; }
  .mth .checkpoints38 {
    left: 67%;
    top: 37%; }
  .mth .checkpoints39 {
    left: 48%;
    top: 24%; }
  .mth .checkpoints40 {
    left: 29%;
    top: 11%; }
  .mth .checkpoints41 {
    left: 11%;
    top: 0%; }
  .mth .checkpoints42 {
    left: 18%;
    top: 49%; }
  .mth .checkpoints43 {
    left: 6%;
    top: 37%; }
  .mth .checkpoints44 {
    left: 16%;
    top: 27%; }
  .mth .checkpoints45 {
    left: 26%;
    top: 17%; }
  .mth .checkpoints46 {
    left: 37%;
    top: 6%; }
  .mth .checkpoints47 {
    left: 51%;
    top: 8%; }
  .mth .checkpoints48 {
    left: 62%;
    top: 19%; }
  .mth .checkpoints49 {
    left: 73%;
    top: 30%; }
  .mth .checkpoints50 {
    left: 84%;
    top: 41%; }
  .mth .step1 {
    display: inline-block;
    width: 18vw;
    left: 8.4vw;
    top: 30.4vw;
    position: absolute; }
  .mth .step_bg {
    max-width: 100%; }
  .mth .step2 {
    display: inline-block;
    width: 12.5vw;
    left: 26vw;
    top: 34.8vw;
    position: absolute; }
  .mth .step3 {
    display: inline-block;
    width: 10vw;
    left: 23.7vw;
    top: 27.6vw;
    position: absolute; }
  .mth .step4 {
    display: inline-block;
    display: inline-block;
    width: 14.9vw;
    left: 23.7vw;
    top: 21.9vw;
    position: absolute; }
  .mth .step5 {
    display: inline-block;
    width: 10.1vw;
    left: 38.5vw;
    top: 29.2vw;
    position: absolute; }
  .mth .step6 {
    display: inline-block;
    width: 10vw;
    left: 46vw;
    top: 26.2vw;
    position: absolute; }
  .mth .step7 {
    display: inline-block;
    width: 12.4vw;
    left: 36.28vw;
    top: 16.2vw;
    position: absolute; }
  .mth .step8 {
    display: inline-block;
    width: 10.1vw;
    left: 46.4vw;
    top: 18.9vw;
    position: absolute; }
  .mth .step9 {
    display: inline-block;
    width: 7.6vw;
    left: 56.47vw;
    top: 23.2vw;
    position: absolute; }
  .mth .step10 {
    display: inline-block;
    width: 10vw;
    left: 63.9vw;
    top: 27.6vw;
    position: absolute; }
  .mth .step11 {
    display: inline-block;
    width: 7.6vw;
    left: 73.29vw;
    top: 23.3vw;
    position: absolute; }
  .mth .step12 {
    display: inline-block;
    width: 10.1vw;
    left: 63.4vw;
    top: 17.5vw;
    position: absolute; }
  .mth .step13 {
    display: inline-block;
    width: 19.5vw;
    left: 56.1vw;
    top: 9.2vw;
    position: absolute; }
  .mth .step14 {
    display: inline-block;
    width: 10vw;
    left: 75.9vw;
    top: 14.7vw;
    position: absolute; }

.qart {
  position: absolute;
  left: 0px;
  top: 0px;
  min-height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#AAE8FF), to(#004E6A));
  background: linear-gradient(#AAE8FF, #004E6A); }
  .qart .subjects_nav ul a {
    color: #000; }
  .qart .subjects_nav ul li:before {
    background: #000; }
  .qart .subjects_nav .school_or_mine a {
    color: #000; }
  .qart .subjects_nav .school_or_mine a.active,
  .qart .subjects_nav .school_or_mine a:hover {
    background: #74A589;
    border: 1px solid #000; }
  .qart .steps_perent_qart {
    position: absolute;
    width: 70%;
    height: 92%;
    background-position: center;
    background-size: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    background-repeat: no-repeat; }
  .qart .checkpoint_qart {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .qart .checkpoint_qart:hover {
    -webkit-transform: translateY(-5px) scale(1.1, 1.1);
            transform: translateY(-5px) scale(1.1, 1.1); }
  .qart .checkpoint_qart1 {
    left: 39vw;
    top: 32.3vw; }
  .qart .checkpoint_qart2 {
    left: 42vw;
    top: 30.3vw; }
  .qart .checkpoint_qart3 {
    left: 45vw;
    top: 29.3vw; }
  .qart .checkpoint_qart4 {
    left: 48vw;
    top: 28.3vw; }
  .qart .checkpoint_qart5 {
    left: 51vw;
    top: 26.8vw; }
  .qart .checkpoint_qart6 {
    left: 53.8vw;
    top: 25.9vw; }
  .qart .checkpoint_qart7 {
    left: 57.3vw;
    top: 24.5vw; }
  .qart .checkpoint_qart8 {
    left: 60.2vw;
    top: 23.7vw; }
  .qart .checkpoint_qart9 {
    left: 60vw;
    top: 18.3vw; }
  .qart .checkpoint_qart10 {
    left: 57.4vw;
    top: 17.5vw; }
  .qart .checkpoint_qart11 {
    left: 54.7vw;
    top: 16.8vw; }
  .qart .checkpoint_qart12 {
    left: 52vw;
    top: 16vw; }
  .qart .checkpoint_qart13 {
    left: 49.3vw;
    top: 16.6vw; }
  .qart .checkpoint_qart14 {
    left: 46.7vw;
    top: 17.3vw; }
  .qart .checkpoint_qart15 {
    left: 44vw;
    top: 18.1vw; }
  .qart .checkpoint_qart16 {
    left: 41vw;
    top: 19vw; }
  .qart .checkpoint_qart17 {
    left: 37vw;
    top: 19.8vw; }
  .qart .checkpoint_qart18 {
    left: 33.9vw;
    top: 20.7vw; }
  .qart .checkpoint_qart19 {
    left: 29vw;
    top: 21.2vw; }
  .qart .checkpoint_qart20 {
    left: 23vw;
    top: 22.3vw; }
  .qart .checkpoint_qart21 {
    left: 11vw;
    top: 24vw; }
  .qart .checkpoint_qart22 {
    left: 8vw;
    top: 23.2vw; }
  .qart .checkpoint_qart23 {
    left: 5vw;
    top: 22.1vw; }
  .qart .checkpoint_qart24 {
    left: 36vw;
    top: 33.1vw; }
  .qart .checkpoint_qart25 {
    left: 9vw;
    top: 20.9vw; }
  .qart .checkpoint_qart26 {
    left: 12.5vw;
    top: 20vw; }
  .qart .checkpoint_qart27 {
    left: 22vw;
    top: 17.3vw; }
  .qart .checkpoint_qart28 {
    left: 25vw;
    top: 16.3vw; }
  .qart .checkpoint_qart29 {
    left: 28vw;
    top: 15.3vw; }
  .qart .checkpoint_qart30 {
    left: 30vw;
    top: 13.3vw; }
  .qart .checkpoint_qart31 {
    left: 33vw;
    top: 12.3vw; }
  .qart .checkpoint_qart32 {
    left: 36vw;
    top: 11.4vw; }
  .qart .checkpoint_qart33 {
    left: 38.9vw;
    top: 10.5vw; }
  .qart .checkpoint_qart34 {
    left: 41.8vw;
    top: 9.6vw; }
  .qart .checkpoint_qart35 {
    left: 45vw;
    top: 10.3vw; }
  .qart .checkpoint_qart36 {
    left: 53vw;
    top: 10.1vw; }
  .qart .checkpoint_qart37 {
    left: 55.6vw;
    top: 9.3vw; }
  .qart .checkpoint_qart38 {
    left: 58vw;
    top: 8.5vw; }
  .qart .checkpoint_qart39 {
    left: 54vw;
    top: 7.4vw; }
  .qart .checkpoint_qart40 {
    left: 45.5vw;
    top: 5vw; }
  .qart .checkpoint_qart41 {
    left: 45.5vw;
    top: 5vw; }
  .qart .checkpoint_qart42 {
    left: 42.5vw;
    top: 4.2vw; }
  .qart .checkpoint_qart43 {
    left: 36.5vw;
    top: 6vw; }
  .qart .checkpoint_qart44 {
    left: 33.5vw;
    top: 6.7vw; }
  .qart .checkpoint_qart45 {
    left: 30.5vw;
    top: 7.2vw; }
  .qart .checkpoint_qart46 {
    left: 27.5vw;
    top: 8vw; }
  .qart .checkpoint_qart47 {
    left: 24vw;
    top: 8.3vw; }
  .qart .checkpoint_qart48 {
    left: 20.9vw;
    top: 8.6vw; }
  .qart .checkpoint_qart49 {
    left: 18.2vw;
    top: 9.2vw; }
  .qart .checkpoint_qart50 {
    left: 15.5vw;
    top: 10vw; }
  .qart .kingball {
    position: absolute;
    left: 30vw;
    top: 34vw;
    width: 1.8vw; }
    .qart .kingball img {
      width: 100%; }
  .qart .checkpoint_qart {
    position: absolute;
    width: 3%;
    display: inline-block; }
    .qart .checkpoint_qart img {
      width: 100%; }
  .qart .claud1 {
    position: absolute;
    top: -4vw;
    z-index: -1;
    width: 31vw;
    -webkit-animation-name: claud1;
            animation-name: claud1;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
            animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }
@-webkit-keyframes claud1 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
@keyframes claud1 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
  .qart .claud2 {
    position: absolute;
    top: 13vw;
    left: 61vw;
    z-index: 1;
    width: 21vw;
    -webkit-animation-name: claud2;
            animation-name: claud2;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
            animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }
@-webkit-keyframes claud2 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
@keyframes claud2 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
  .qart .claud3 {
    position: absolute;
    top: 13vw;
    left: 55vw;
    z-index: -1;
    width: 10vw;
    -webkit-animation-name: claud3;
            animation-name: claud3;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
            animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }
@-webkit-keyframes claud3 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
@keyframes claud3 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
  .qart .claud4 {
    position: absolute;
    top: -1vw;
    left: 40vw;
    z-index: -1;
    width: 20vw;
    -webkit-animation-name: claud4;
            animation-name: claud4;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
            animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }
@-webkit-keyframes claud4 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
@keyframes claud4 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
  .qart .claud5 {
    position: absolute;
    top: 11vw;
    left: 2vw;
    z-index: 0;
    width: 17vw;
    -webkit-animation-name: claud5;
            animation-name: claud5;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
            animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }
@-webkit-keyframes claud5 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
@keyframes claud5 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px); }
  50% {
    -webkit-transform: translate(10px, -5px);
            transform: translate(10px, -5px); }
  75% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
.steps_perent_qart .bbg {
  width: 70vw; }

.mtholimpiad {
  position: absolute;
  width: 101%;
  height: 100%;
  background: url(images/olimpiadmthbg.png);
  background-size: cover;
  background-position: center;
  left: -1px;
  top: 0px; }
  .mtholimpiad .steps_perent a:hover {
    -webkit-filter: hue-rotate(30deg);
            filter: hue-rotate(30deg); }
  .mtholimpiad .step0 {
    width: 15vw;
    display: inline-block;
    position: absolute;
    top: 24vw;
    left: 9vw; }
    .mtholimpiad .step0 img {
      max-width: 100%; }
  .mtholimpiad .step1 {
    width: 15vw;
    display: inline-block;
    position: absolute;
    top: 28vw;
    left: 28vw; }
    .mtholimpiad .step1 img {
      max-width: 100%; }
  .mtholimpiad .step2 {
    width: 15vw;
    display: inline-block;
    position: absolute;
    top: 16vw;
    left: 36vw; }
    .mtholimpiad .step2 img {
      max-width: 100%; }
  .mtholimpiad .step3 {
    width: 15vw;
    display: inline-block;
    position: absolute;
    top: 21vw;
    left: 54vw; }
    .mtholimpiad .step3 img {
      max-width: 100%; }
  .mtholimpiad .step4 {
    width: 15vw;
    display: inline-block;
    position: absolute;
    top: 25vw;
    left: 73vw; }
    .mtholimpiad .step4 img {
      max-width: 100%; }

.planet3 {
  position: absolute;
  left: 30vw;
  width: 6vw;
  top: 15vw;
  -webkit-animation-name: planet_3;
          animation-name: planet_3;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.07, -0.19, 1, 1);
          animation-timing-function: cubic-bezier(0.07, -0.19, 1, 1); }

@keyframes planet_3 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(200px, 80px);
            transform: translate(200px, 80px); }
  50% {
    -webkit-transform: translate(400px, 60px);
            transform: translate(400px, 60px); }
  75% {
    -webkit-transform: translate(-200px, -80px);
            transform: translate(-200px, -80px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }
.planet_with_child {
  position: absolute;
  top: 10vw;
  width: 11vw;
  left: 15vw;
  -webkit-animation-name: planet_with_child;
          animation-name: planet_with_child;
  -webkit-animation-duration: 120s;
          animation-duration: 120s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
          animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }

@keyframes planet_with_child {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(-200px, 80px);
            transform: translate(-200px, 80px); }
  50% {
    -webkit-transform: translate(400px, -60px);
            transform: translate(400px, -60px); }
  75% {
    -webkit-transform: translate(-200px, -80px);
            transform: translate(-200px, -80px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }
.planet_with_child.planet2 {
  top: 73vh;
  left: 47vw;
  width: 8vw;
  -webkit-animation-name: planet_with_child2;
          animation-name: planet_with_child2;
  -webkit-animation-duration: 140s;
          animation-duration: 140s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01);
          animation-timing-function: cubic-bezier(0.19, -0.08, 0.79, 1.01); }

@keyframes planet_with_child2 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px); }
  25% {
    -webkit-transform: translate(-400px, 180px);
            transform: translate(-400px, 180px); }
  50% {
    -webkit-transform: translate(400px, -60px);
            transform: translate(400px, -60px); }
  75% {
    -webkit-transform: translate(-400px, 180px);
            transform: translate(-400px, 180px); }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px); } }
@media only screen and (max-width: 950px) {
  .steps_perent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 11vw; }

  .diagram .progrers_sectors .sector3 {
    border-top-left-radius: 9vw; }

  .diagram {
    top: 12vw; } }
@media only screen and (max-width: 700px) {
  .qart .steps_perent_qart {
    top: 70%; } }
@media only screen and (max-width: 600px) {
  .mth {
    position: relative; }

  .diagram {
    top: 20vw; }

  .steps_perent {
    top: 26vw; }

  .subjects_nav ul a {
    padding: 5px 0px; }

  .planet_with_child3 {
    top: 50vh; }

  .mth .point_boll {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); }

  .diagram .progrers_sectors .sector3 {
    border-top-left-radius: 12vw; }

  .qart .steps_perent_qart {
    top: 70%; } }
@media only screen and (max-width: 540px) {
  .qart .checkpoint_qart {
    position: absolute;
    width: 3%;
    display: inline-block;
    -webkit-transform: translateY(-0.59vw);
            transform: translateY(-0.59vw); } }
/*# sourceMappingURL=style.css.map */